
@{
    ViewBag.Title = "Analytics";
}

<h2>Analytics</h2>

<img class="prototype" src="~/Content/img/management/analyticsPage.png" />
<img class="prototype" src="~/Content/img/management/userAnalytics.png" />
<img class="prototype" src="~/Content/img/management/clientAnalytics.png" />
<img class="prototype" src="~/Content/img/management/detailedClientAnalytics.png" />
<img class="prototype" src="~/Content/img/management/downloadAnalytics.png" />
<img class="prototype" src="~/Content/img/management/downloadClientAnalytics.png" />

