
@{
    ViewBag.Title = "ManagementReport";
}

<h2>ManagementReport</h2>

<img class="prototype" src="~/Content/img/management/managementReport.png" />
<img class="prototype" src="~/Content/img/management/fullSizeReport.png" />

