
@{
    ViewBag.Title = "OrderPage";
}

<h2>Client Order's </h2>

<img class="prototype" src="~/Content/img/client/orderPage.png" />
<img class="prototype" src="~/Content/img/client/orderHistorySummary.png" />
<img class="prototype" src="~/Content/img/client/orderHistoryDetail.png" />
<img class="prototype" src="~/Content/img/client/submitNewOrder.png" />
<img class="prototype" src="~/Content/img/client/orderConfirm.png" />
<img class="prototype" src="~/Content/img/client/orderPlacedSuccess.png" />


