
@{
    ViewBag.Title = "Reports";
}

<h2>Report Builder</h2>

<img class="prototype" src="~/Content/img/client/reportBuilder.png" />
<img class="prototype" src="~/Content/img/client/reportGen.png" />
<img class="prototype" src="~/Content/img/client/reportGenPreview.png" />
<img class="prototype" src="~/Content/img/client/reportGenDownload.png" />