@{
    ViewBag.Title = "About C&E Express Capstone- GreyCodeGroup";
}
<h2>The Grey Code Group</h2>

<p>
    This is the capstone prototype designed for our clients at C&E Express, Canada, developed by the Grey Code Group
    The purpose of the project is to make it easier for the customers to use C&E Express' website and make it more intuitive and making it all seamless for our clients who are having issues doing the same manually

    
</p>