@{
    ViewBag.Title = "C&E Express";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact Us</h3>


<div class="form" style="width:auto; float:left;">
    <address>
        C&#038;E Express<br />
        PO Box 875
        Maple, ON <br />
        <abbr title="Phone">P:</abbr>
        1-888-495-79349
        <strong>Support:</strong>   <a href="mailto:sales@ceexpress.ca">Support@example.com</a><br />
        <strong>24x7 Customer Service</strong>
        <strong>1888-495-7934</strong>
        </>
    </address>
</div>