@{
    ViewBag.Title = "C&E Express";
}
<h2>@ViewBag.Title.</h2>
<head>
    <style>
        .form .mail_ids span {
            color: #00046e;
            font-weight: bold;
            width: 65px;
            display: inline-block;
            margin-bottom: 5px;
        }
            .form .mail_ids span a:hover {
                font-weight: bold;
                width: 65px;
                display: inline-block;
                margin-bottom: 5px;
                color: #F00;
            }

        .form {
            width: 1145px;
            margin: 0 auto;
            height: 560px;
            position: relative;
        }
        
         #forms{
             border-style:solid;
                }
         .mail_ids{
             border-style:;
         }
    </style>

</head>


<div class="section">
    <center> <h3>Contact Us</h3> </center>
<div  id="forms"></div>
    <div class="col-md-6">
        <br />

        <div class="form" style="width:auto; float:right;">

            <div class="mail_ids">
                <span class="id_name" style="width:auto;">Mailing Address: </span></p>
                <div class="clr"></div>
                <p><span class="id_name" style="width:auto;">C&#038;E Express </span></p>
                <div class="clr"></div>
                <p><span class="id_name" style="width:auto;">PO Box 875 Maple, Maple ON  L6A 1S8</span></p>
                <div class="clr"></div>
                <p><span class="id_name" style="width:auto;">Office line:</span><span style="width:auto;" class="email">1-888-495-7934</span></p>
                <div class="clr"></div>
                <p><span class="id_name" style="width:auto;">Fax: </span><span style="width:auto;" class="email">1-888-547-6197</span></p>
                <div class="clr"></div>
                <p><span class="id_name" style="width:auto;">C&#038;E Express Impact Movie: </span><span style="width:auto;" class="email"><a href="http://www.CEExpress.ca/movie">http://www.CEExpress.ca/movie</a></span></p>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h3></h3>
        <div class="form" style="width:auto; ">

            <div class="mail_ids">
                <div><span class="id_name" style="width:auto;">E-Mail Us: </span></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Rates &#038; Service:- </span><span style="width:auto; padding:5px;" class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:Rates@ceexpress.ca">&nbsp;&nbsp;&nbsp;Rates@ceexpress.ca</a></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Dispatch Local:- </span><span style="width:auto; padding:5px;" class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:Dispatch@ceexpress.ca">&nbsp;&nbsp;&nbsp;Dispatch@ceexpress.ca</a></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Dispatch Expedite:-</span><span style="width:auto;"  padding:5px; class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:Dispatchx@ceexpress.ca">&nbsp;&nbsp;Dispatchx@ceexpress.ca</a></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Dispatch USA:-</span><span style="width:auto;"  padding:5px; class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:DispatchUSA@ceexpress.ca">&nbsp;&nbsp;&nbsp;DispatchUSA@ceexpress.ca</a></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Accounting:-</span><span style="width:auto;"  padding:5px; class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:payables@ceexpress.ca">&nbsp;&nbsp;&nbsp;payables@ceexpress.ca</a></span></div>
                <div class="clr"></div>
                <div><span class="id_name" style="width:auto;">Claims:-</span><span style="width:auto;"   padding:5px; class="email"><a style="color:#4b4b4b; font-weight:normal;" href="mailto:claims@ceexpress.ca">&nbsp;&nbsp;&nbsp;claims@ceexpress.ca</a></span></div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    </div>
</div>