@{
    ViewBag.Title = "Home Page";
}
<head>
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <style>
        .pdng .col-md-6 span {
            color: #f1913e;
        }
        .col-md-6 span2 {
           color: #f1913e;
        }
    </style>
</head>
<center>

    Welcome @HttpContext.Current.User.Identity.Name

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("Logout", "Clients", FormMethod.Post, new { id = "logoutForm" }))
        {
            <a href = "javascript:document.getElementById('logoutForm').submit()">Logout</a>
        }
    }


    <div class="jumbotron">
        <h1><img src="~/Content/images/logo.png" />   Capstone Portal Prototype</h1>
        <p>
            @*<div class="col-lg-3 col-md-4 col-sm-6">
                    <img src="~/Content/images/homebanner.jpg" style="position:absolute; margin:auto; float:left;" >
                </div>*@
        </p>
        <div class="glyphicon-picture">
            <img src="~/Content/images/homebanner.jpg" style="height:400px; " />
            <p class="lead">
                <strong>
                    C&E Express are known for our white glove handling and expedited services, C&E Express
                    takes your business further, and gets your goods to market faster
                </strong>
            </p>
        </div>

        <p></p>

    </div>
</center>

<br />


<div class="top_box">
    <div class="pdng">

        <div class="col-md-6">
            <h2>Welcome to <span>C&E Express</span></h2>
            <p>
                Known for our white glove handling and expedited services, C&E Express takes your business further, and gets your goods to market faster. Whether you’re simply sending a shipment across town or completely overhauling your supply chain, C&E express offers the solutions you need, with a single source of accountability

                We encourage you to visit often as the site will be expanded and updated regularly to meet existing and emerging client needs

                The web is just one more way to access what’s most important – our people. They are fully trained to handle every shipment with the professionalism you would expect from…
            </p>
        </div>
    </div>
</div>

<div class="col-md-6">
    <h2>Service <span2>Advantage</span2></h2>
    <ul>
        <li>
            Customer Service Center 24 Hours a day - 7 days a week with a live voice!
        </li>
        <li>
            Flexibility--Air freight, expedited truck, both cargo vans. and straight trucks, and two man team truck services.
        </li>
        <li>
            Across town, across the Province, across the country
        </li>
        <li>
            Personalized Service--No voicemails--Live voices.
        </li>
        <li>
            Same day service, next day service,
        </li>
        <li>
            In-bound or Out-bound emergency shipping.
        </li>
        <li>
            Experienced expedited customer service staff
        </li>
    </ul>
</div>
</div>
